@model Mod02_01.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div> 
        <ul>
             <li>
                @Html.DisplayNameFor(m => m.Title);
                @Html.DisplayFor(m => m.Title);
            </li>
            <li>
                @Html.DisplayNameFor(m => m.Year);
                @Html.DisplayFor(m => m.Year);
            </li>
            <li>
                @Html.DisplayNameFor(m => m.Composer);
                @Html.DisplayFor(m => m.Composer);
            </li>
        </ul>
        <p>
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" />
 
            }

            @Html.ActionLink("Back To List", "Index", "Opera")
        </p>
    </div>
</body>
</html>
